<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Ui\DataProvider\Product\ProductRenderCollectorComposite">
        <arguments>
            <argument name="productProviders" xsi:type="array">
<!--                <item name="custom_extension" xsi:type="object">\Pearl\Student\Ui\DataProvider\Product\Listing\Collector\SaleExtension</item>-->
                <item name="custom_extension" xsi:type="object">\Pearl\Student\Ui\DataProvider\Product\Listing\Collector\CustomExtension</item>
            </argument>
        </arguments>
    </type>
<!--    <type name="Pearl\Student\Ui\DataProvider\Product\Listing\Collector\CustomExtension">-->
<!--        <plugin name="product_commit" type="Pearl\Student\Plugin\Product\PluginExtension" />-->
<!--    </type>-->
<!--    <type name="Magento\Sales\Api\OrderRepositoryInterface">-->
<!--        <plugin name="orderComment_extension" type="Pearl\student\Plugin\OrderRepositoryPlugin" />-->
<!--    </type>-->
</config>
