<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Ui\DataProvider\Product\ProductRenderCollectorComposite">
        <arguments>
            <argument name="productProviders" xsi:type="array">
                <item name="custom_extension" xsi:type="object">\Pearl\Student\Ui\DataProvider\Product\Listing\Collector\CustomExtension</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Checkout\Model\DefaultConfigProvider">
        <plugin name="checkout-summary-product-attribute" type="Pearl\Student\Plugin\Checkout\Model\DefaultConfigProvider" />
    </type>
<!--    <type name="Magento\Quote\Api\CartRepositoryInterface">-->
<!--        <plugin name="cart_extra_attribute" type="Pearl\Student\Plugin\CartRepositoryPlugin" />-->
<!--    </type>-->
</config>
